.contact {
  background-color: #f1f1f1;


}
.con a {
  text-decoration: none;
  display: block;


}

.con img {
  margin-bottom: 10px;
}

.con {
  text-align: center;
}
.block-con {
  display: flex;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
}

