footer {
  background-color: black;
  padding:  70px 0;

}
.fabr {
  color: white;
}
.adr a {
  color: white;
}

.block-p {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: -43px;
}
.dabr {
  font-size: 10px;
  margin-top: 45px;
  color: #555555;
}
.adr a {
  display: block;
margin-bottom: 15px;
}
.kart {

}