@import "normalize.css";
@import "./fonts.css";
@import "_grid.scss";
@import "blocks/navbar";
@import "blocks/hero";
@import "blocks/offers";
@import "blocks/features";
@import "blocks/catalog";
@import "blocks/useful";
@import "blocks/price";
@import "blocks/section-line";
section {
    padding: 100px 0;
}
body {
    font-family: "Roboto", sans-serif;
}
button {
    outline: none;
}
h1 {
    font-weight: 400;
}
h2 {
    margin: 0;
    margin-bottom: 100px;
    text-align: center;
    text-transform: uppercase;
}
.container {
    max-width: 1260px;
    margin: 0 auto;
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}
@media (max-width: 991px) {
    .container {
        max-width: 750px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0 30px;
    }
}



.start {
    max-width: 580px;
    margin: 150px auto 0 auto;
    text-align: center;
    img {
        width: 100%;
    }
}
.bg-sec {
    background-color: #f1f1f1;
}
